.logo nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  justify-content: space-between;
  background-color: burlywood;
 padding: 0,15px;
 align-items: center;
}

.btn{
    padding:8px, 5px;
    font-size: large;
    border-radius:25px ;
}

.dropdown{
    position: relative;
}
.dropdown-options{
    display: none;
    font-size: large;
}
a{
    all: unset;
}
div{
    margin: 10px;
}
.dropdown: :hover,.dropdown-options{
    display: block;
}

.material-symbols-outlined{
    font-variation-settings: "FILL"0,"wght"
    400,"GRAD"0,"opsz"24;
}